#contentCategories .wrapper {
	text-align: center;
	margin-top: 45px;
}

#contentCategories .wrapper>div{
	display: inline-block;
	vertical-align: top;
	text-align: left;
}

#contentCategories #description{
	width: 320px;
	height: 400px;
	text-align: left;
}

#description .titre{
	font-family:"GillSansMT";
	font-weight:300;
	text-transform: uppercase;
	font-size: 24px;
	color: #68ccc7;
	-webkit-font-smoothing: antialiased;
}

#description p{
	padding-right: 70px;
	font-family:"GillSansMT";
	font-weight:200;
	font-size: 16px;
	color: #414141;
	-webkit-font-smoothing: antialiased;
}

#description hr{
	background-color: #ebebeb;
	border: 0;
	height: 3px;
	width: 250px;
	margin-left: 0px;
	margin-top: 55px;
	margin-bottom: 50px;
}

#contentCategories #grid{
	width: 620px;
	height: 400px;
}

#grid #selector{
	height: 70px;
}

#grid #selector li{
	float: left;
}

#selector li.first{
	color: #68ccc7;
	font-family:"GillSansMT";
	font-weight:200;
	font-size: 14px;
	text-transform: uppercase;
	margin-right: 20px;
	-webkit-font-smoothing: antialiased;
}

#selector li a{
	font-size: 14px;
	font-family:"GillSansMT";
	font-weight:800;
	text-transform:uppercase;
	color:#414141;
	vertical-align: top;
	-webkit-font-smoothing: antialiased;
	text-decoration: none;
	padding-bottom: 10px;
}

#selector li:nth-child(2) a{
	margin-right: 30px;
}
#selector li:nth-child(3) a{
	margin-right: 55px;
}
#selector li:nth-child(4) a, #selector li:nth-child(5) a{
	margin-right: 20px;
}
#selector li:nth-child(6) a, #selector li:nth-child(7) a, #selector li:nth-child(8) a{
	margin-right: 1px;
}
#selector li:nth-child(6) a{
	margin-left: 4px;
}
#selector li a.current{
	border-bottom: 4px solid #414141;
}
#selector li a:hover{
	border-bottom: 4px solid #414141;
}

#gridView {
	width: 640px;
}

#gridView .case{
	margin-right: 20px;
	width: 140px;
	height: 140px;
	float: left;
	margin-bottom: 20px;
}

#gridView .case a {
	width: 140px;
	height: 140px;
	float: left;
	border: 1px solid #d5d3d3;
	position: relative;
	overflow: hidden;
}

#gridView .case a.current{
	border: 3px solid #68ccc7;
}

#gridView .case a:hover img{
	-webkit-transform: scale(1.1);
   -webkit-transition:all 0.4s;
}

#gridView .case a:last-child {
	margin-right: 0px;
}

#gridView .case a img{
	width: 140px;
	height: 140px;
	display: block;
	-webkit-transition:all 0.4s;
}

#gridView .case a div {
	position: absolute;
	bottom: 0px;
	left: 0px;
	height: 35px;
	width: 100%;
	background: rgba(255,255,255,0.5);
}

#gridView .case a p{
	font-size: 11.72px;
	font-family:"GillSansMT";
	font-weight:300;
	text-transform:uppercase;
	color:#3a4c63;
	-webkit-font-smoothing: antialiased;
	padding-left: 13px;
	padding-top: 13px;
}

#gridView .control{
	text-align: right;
	margin-right: 19px;
	clear: both;
	padding-top: 10px;}

#gridView .control p{
	display: inline-block;
	font-size: 14px;
	font-family:"GillSansMT";
	font-weight:300;
	text-transform:uppercase;
	color:#56a8a4;
	-webkit-font-smoothing: antialiased;
	margin-right: 10px;
	padding-top: 15px;
	vertical-align: top;
}

#contentGrid {
	width: 940px;
	margin: auto;
	padding-top: 42px;
	padding-bottom: 40px;
}

#contentGrid>div {
	display: inline-block;
	font-size: 0;
}

#contentGrid #contentLeft{
	width: 300px;
	border: 1px solid #d7d7d7;
	background-color: #FFF;
	vertical-align: top;
}

#contentGrid #contentRight{
	width: 630px;
}

#author {
	font-family:"GillSansMT";
	font-weight:300;
	color:#414141;
	-webkit-font-smoothing: antialiased;
	text-transform: uppercase;
	text-align: center;
		overflow: hidden;
}

#author #pic-auth{
	border-bottom: 9px solid #68ccc7;
	-webkit-transition:all 0.4s;
}

#author .name{
	margin-top: 25px;
	margin-bottom: 20px;
	font-size: 24px;
}

#author .specialite{
	margin-bottom: 25px;
	font-size: 14px;
}

#author hr{
	border: 0;
	width:55px;
	height: 1px;
	background-color: #d7d7d7;
}

#author .icons{
	margin-top: 30px;
	margin-bottom: 37px;
	font-size: 0px;
}

#author .icons li{
	display: inline-block;
	margin-right: 1px;
}

#author .skills {
	margin-top: 30px;
	margin-bottom: 37px;
	font-size: 0px;
}

#author .skills li{
	display: inline-block;
	width: 99px;
	height: 62px;
	background-color: #68ccc7;
	border-bottom : 1px solid #3e9893;
}

#author .skills li p{
	font-size: 15px;
	text-transform: uppercase;
	word-wrap: break-word;
	padding-top: 18px;
	color: #FFF;
	padding-left: 15px;
	padding-right: 15px;
	-webkit-font-smoothing: antialiased;
}

#author .skills li:nth-child(2){
	border-right: 1px solid #ffffff;
	border-left: 1px solid #ffffff;
}

#author .studies{
	text-transform: none;
	color:#7e7e7e;
	line-height: 20px;
	font-weight: 200;
	margin-bottom: 30px;
	font-size: 14px;
}

#author .job{
	color:#414141;
	margin-top: 30px;
	margin-bottom: 30px;
	font-size: 14px;
}

#author .hire{
	height: 47px;
	background-color: #454143;
}

#author .hire a{
	color: #ffffff;
	padding-top: 18px;
	display: block;
	text-decoration: none;
	font-size: 14px;
}

#contentRight #diaporama #images .wrapper img{
	width: 581px;
	height: 433px;
}

#contentRight #diaporama {
	width: 100%;
	background-color: transparent;
	font-size: 0;
	margin-top: 0px;
	margin-left: 20px;
}

#contentRight #diaporama #images {
	width: 581px;
	height: 433px;
	overflow: hidden;
	display: inline-block;
	margin-right: 17px;
}

#contentRight #diaporama #controlleur li {
	width: 10px;
	height: 100px;
	margin-bottom: 11px;
	list-style-type: none;
	cursor: pointer;
}

#contentRight #diaporama #descriptions {
	display: inline-block;
	width: 100%;
	vertical-align: top;
	margin-left: 0px;
	font-size: 0px;
	overflow: hidden;
	height: 210px;
	position: relative;
}

#contentRight #diaporama .description {
	width: 100%;
	height: 210px;
	display: none;
	font-size: 15px;
	position: absolute;
	top: 0px;
	left: 0px;
}

#contentRight .description h2 {
	text-transform: uppercase;
	font-family: "GillSansMT";
	font-weight: 300;
	color: #454143;
	font-size: 18px;
	-webkit-font-smoothing: antialiased;
	margin-left: 60px;
	margin-top: 35px;
}

#contentRight .description p {
	text-transform: none;
	font-family: "GillSansMT";
	font-weight: 300;
	color: #7e7e7e;
	font-size: 12px;
	-webkit-font-smoothing: antialiased;
	margin-left: 80px;
	margin-top: 30px;
	width: 305px;
	text-align: justify;
}

#contentRight .control{
	text-align: right;
	padding-top: 10px;
}

#contentRight .control a{
	margin-right: 1px;
	height: 40px;
}

#contentRight .control p{
	display: inline-block;
	font-size: 14px;
	font-family: "GillSansMT";
	font-weight: 300;
	text-transform: uppercase;
	color: #56a8a4;
	-webkit-font-smoothing: antialiased;
	margin-right: 10px;
	padding-top: 4px;
	vertical-align: top;
	line-height: 20px;
}

#contentRight #diaporama .description .more {
	text-align: left;
	position: absolute;
	bottom: 8px;
	width: 111px;
	right: 80px;
}

